flows.json
[{"id":"f504566e.21ccc8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"fbc8c84e.481d58","type":"websocket in","z":"f504566e.21ccc8","name":"","server":"e5d24c6b.40791","client":"","x":110,"y":80,"wires":[["de945a14.6d5348"]]},{"id":"bccc062a.9df448","type":"change","z":"f504566e.21ccc8","name":"","rules":[{"t":"set","p":"context","pt":"msg","to":"payload.context","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":80,"wires":[["707c6ed7.6d49"]]},{"id":"cff95aa0.c1ab68","type":"tcp out","z":"f504566e.21ccc8","host":"127.0.0.1","port":"7000","beserver":"client","base64":false,"end":true,"name":"Mcntrl","x":590,"y":260,"wires":[]},{"id":"83465611.e97f38","type":"inject","z":"f504566e.21ccc8","name":"Connect stream","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"obs.stream.connect;","payloadType":"str","x":320,"y":260,"wires":[["cff95aa0.c1ab68"]]},{"id":"707c6ed7.6d49","type":"switch","z":"f504566e.21ccc8","name":"keyDown","property":"payload.event","propertyType":"msg","rules":[{"t":"eq","v":"keyDown","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":800,"y":80,"wires":[["26f6edcc.e85a02"]]},{"id":"cfe86727.0ebfe8","type":"tcp out","z":"f504566e.21ccc8","host":"127.0.0.1","port":"7000","beserver":"client","base64":false,"end":true,"name":"Mcntrl","x":590,"y":320,"wires":[]},{"id":"7cac7258.b798bc","type":"inject","z":"f504566e.21ccc8","name":"Switch stream to display 1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"obs.stream.setScene;Display 1;","payloadType":"str","x":350,"y":320,"wires":[["cfe86727.0ebfe8"]]},{"id":"bcdffad0.269dd8","type":"inject","z":"f504566e.21ccc8","name":"Switch stream to display 2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"obs.stream.setScene;Display 2;","payloadType":"str","x":350,"y":380,"wires":[["53890d0e.3d4d54"]]},{"id":"53890d0e.3d4d54","type":"tcp out","z":"f504566e.21ccc8","host":"127.0.0.1","port":"7000","beserver":"client","base64":false,"end":true,"name":"Mcntrl","x":590,"y":380,"wires":[]},{"id":"557fab74.fcd664","type":"inject","z":"f504566e.21ccc8","name":"Switch stream to display 3","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"obs.stream.setScene;Display 3;","payloadType":"str","x":350,"y":440,"wires":[["dc2855b5.e1b8e8"]]},{"id":"dc2855b5.e1b8e8","type":"tcp out","z":"f504566e.21ccc8","host":"127.0.0.1","port":"7000","beserver":"client","base64":false,"end":true,"name":"Mcntrl","x":590,"y":440,"wires":[]},{"id":"f96bd53b.bf0348","type":"inject","z":"f504566e.21ccc8","name":"Toggle Studio Mode","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"obs.stream.toggleStudioMode;","payloadType":"str","x":330,"y":500,"wires":[["1814ecba.d496e3"]]},{"id":"1814ecba.d496e3","type":"tcp out","z":"f504566e.21ccc8","host":"127.0.0.1","port":"7000","beserver":"client","base64":false,"end":true,"name":"Mcntrl","x":590,"y":500,"wires":[]},{"id":"3a4b4d91.088912","type":"inject","z":"f504566e.21ccc8","name":"Transition","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"obs.stream.transition;","payloadType":"str","x":300,"y":560,"wires":[["94a6d8b1.068858"]]},{"id":"94a6d8b1.068858","type":"tcp out","z":"f504566e.21ccc8","host":"127.0.0.1","port":"7000","beserver":"client","base64":false,"end":true,"name":"Mcntrl","x":590,"y":560,"wires":[]},{"id":"a8e9380c.610bb8","type":"inject","z":"f504566e.21ccc8","name":"StartRecording","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"obs.stream.startRecording;","payloadType":"str","x":320,"y":620,"wires":[["3d1c1803.6ab148"]]},{"id":"3d1c1803.6ab148","type":"tcp out","z":"f504566e.21ccc8","host":"127.0.0.1","port":"7000","beserver":"client","base64":false,"end":true,"name":"Mcntrl","x":590,"y":620,"wires":[]},{"id":"658d0be1.8b3524","type":"inject","z":"f504566e.21ccc8","name":"StopRecording","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"obs.stream.stopRecording;","payloadType":"str","x":320,"y":680,"wires":[["9e17358d.6dfd38"]]},{"id":"9e17358d.6dfd38","type":"tcp out","z":"f504566e.21ccc8","host":"127.0.0.1","port":"7000","beserver":"client","base64":false,"end":true,"name":"Mcntrl","x":590,"y":680,"wires":[]},{"id":"3610b1d2.35a43e","type":"tcp out","z":"f504566e.21ccc8","host":"127.0.0.1","port":"7000","beserver":"client","base64":false,"end":true,"name":"Mcntrl","x":1050,"y":260,"wires":[]},{"id":"ca85f21b.b12aa","type":"inject","z":"f504566e.21ccc8","name":"Gefen Display 1 to 1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"gefen.set1;1;","payloadType":"str","x":790,"y":260,"wires":[["3610b1d2.35a43e"]]},{"id":"58c3ad49.545e44","type":"tcp out","z":"f504566e.21ccc8","host":"127.0.0.1","port":"7000","beserver":"client","base64":false,"end":true,"name":"Mcntrl","x":1050,"y":320,"wires":[]},{"id":"f21cb2c0.c32c9","type":"inject","z":"f504566e.21ccc8","name":"Gefen Display 1 to 2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"gefen.set1;2;","payloadType":"str","x":790,"y":320,"wires":[["58c3ad49.545e44"]]},{"id":"a2615e11.d9c83","type":"inject","z":"f504566e.21ccc8","name":"Gefen Display 1 to 3","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"gefen.set1;3;","payloadType":"str","x":790,"y":380,"wires":[["12d62e86.44fe51"]]},{"id":"12d62e86.44fe51","type":"tcp out","z":"f504566e.21ccc8","host":"127.0.0.1","port":"7000","beserver":"client","base64":false,"end":true,"name":"Mcntrl","x":1050,"y":380,"wires":[]},{"id":"18746152.6e1ecf","type":"inject","z":"f504566e.21ccc8","name":"Gefen Display 1 to 4","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"gefen.set1;4;","payloadType":"str","x":790,"y":440,"wires":[["cf59458c.26c4c8"]]},{"id":"cf59458c.26c4c8","type":"tcp out","z":"f504566e.21ccc8","host":"127.0.0.1","port":"7000","beserver":"client","base64":false,"end":true,"name":"Mcntrl","x":1050,"y":440,"wires":[]},{"id":"4ba18591.b5527c","type":"tcp out","z":"f504566e.21ccc8","host":"127.0.0.1","port":"7000","beserver":"client","base64":false,"end":true,"name":"Mcntrl","x":1050,"y":200,"wires":[]},{"id":"6072b2c9.bbb15c","type":"inject","z":"f504566e.21ccc8","name":"Connect to Gefen","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"gefen.connectTelnet;admin;admin;","payloadType":"str","x":780,"y":200,"wires":[["4ba18591.b5527c"]]},{"id":"5d68ce51.52d56","type":"websocket out","z":"f504566e.21ccc8","name":"","server":"e5d24c6b.40791","client":"","x":1170,"y":80,"wires":[]},{"id":"de945a14.6d5348","type":"sd-input","z":"f504566e.21ccc8","name":"Stream Deck In","x":300,"y":80,"wires":[["e09da9bc.d929a8"]]},{"id":"26f6edcc.e85a02","type":"sd-output","z":"f504566e.21ccc8","name":"Stream Deck Out","streamdeckID":"","title":"","title-type":"str","image":"","image-type":"str","state":"","state-type":"str","x":970,"y":80,"wires":[["5d68ce51.52d56"]]},{"id":"e09da9bc.d929a8","type":"json","z":"f504566e.21ccc8","name":"","property":"payload","action":"","pretty":false,"x":460,"y":80,"wires":[["bccc062a.9df448"]]},{"id":"e5d24c6b.40791","type":"websocket-listener","path":"/streamdeck1","wholemsg":"false"}]